header {
  font-family: "Montserrat";
  background-color: #000000;
}
header h1 {
  font-size: 15px;
  color: white;
  text-align: right;
}
.jumbotron {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 32px;
  color: #b5c534;
}
.jumbotron span {
  color: #006345;
}
.contactform {
  background-color: #006345;
  color: #b5c534;
}
footer {
  background-color: #58585a;
  color: #bfd67c;
}
footer h3 {
  color: #b5c534;
}
.form-group input {
  border: 2px solid;
  border-color: #b5c534;
  border-radius: 0;
}
.form-group textarea {
  border: 2px solid;
  border-color: #b5c534;
  border-radius: 0;
}
