body {
  font-family: "Montserrat";
}
header .top-bar {
  background-color: #000000;
  color: #ffffff;
}
header .top-bar p {
  display: inline-block;
  font-weight: 500;
}
header .top-bar img {
  max-width: 25px;
  max-height: 25px;
}
header .subpage-banner {
  background-image: url('../img/subpage-heading.png');
  background-size: cover;
}
header .subpage-banner h1 {
  color: #bfd67c;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
header .subpage-banner h1 span {
  color: #006345;
}
main {
  background-color: #006345;
}
main section {
  background-image: url("../img/background.jpg");
  background-size: cover;
}
/* header {
  h1 {
    font-size: 15px;
    color: white;
    text-align: right;
  }
}

.jumbotron {
  font-family: @mainFont;
  font-weight:400;
  font-size: 32px;
  color: @green;
  span {
    color: @darkGreen;
  }
}

.contactform {
  background-color:@darkGreen;
  color:@green;
}

footer {
  background-color: @gray;
  color: @lightGreen;
  h3{ 
    color:@green;
  }
}
.form-group input {
  border: 2px solid;
  border-color: @green;
  border-radius: 0;
}

.form-group textarea {
  border: 2px solid;
  border-color: @green;
  border-radius: 0;
}
*/
