@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/variables\.less}line{font-family:\0000316}}
.headings {
  color: #b5c534;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/variables\.less}line{font-family:\0000323}}
.black-bar {
  background-color: #000000;
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/variables\.less}line{font-family:\0000328}}
.plaster-bkg {
  background-image: url("../img/background.jpg");
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/variables\.less}line{font-family:\0000333}}
.white-bkg {
  background-color: #ffffff;
  color: #006345;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/variables\.less}line{font-family:\0000338}}
.transparent-bkg-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/variables\.less}line{font-family:\0000343}}
.bottom-border {
  border-bottom: 4px #b5c534 solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/variables\.less}line{font-family:\0000347}}
.green-border {
  border: 4px #bfd67c solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\000034}}
body {
  font-family: "Montserrat";
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\000037}}
body a:link,
body a:visited {
  color: #bfd67c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\0000313}}
.cls-1 {
  fill: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\0000317}}
.cls-2 {
  clip-path: url(#clip-path);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\0000321}}
.cls-3 {
  fill: #bfd67c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\0000325}}
.cls-4 {
  fill: #006345;
  font-size: 21px;
  font-family: Montserrat-Bold, Montserrat;
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\0000333}}
svg a:hover {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\0000340}}
header .top-bar {
  background-color: #000000;
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\0000343}}
header .top-bar p {
  display: inline-block;
  font-weight: 500;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\0000348}}
header .top-bar img {
  max-width: 25px;
  max-height: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\0000354}}
header h1 {
  color: #bfd67c;
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\0000358}}
header h1 span {
  color: #006345;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\0000363}}
header .homepage-banner {
  background-image: url('../img/home-heading.png');
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\0000367}}
header .homepage-banner p {
  color: #bfd67c;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\0000373}}
header .subpage-banner {
  background-image: url('../img/subpage-heading.png');
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\0000380}}
main {
  background-color: #006345;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\0000383}}
main h2 {
  color: #b5c534;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\0000390}}
.home {
  color: #006345;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\0000393}}
.home .primary-content {
  background-color: #bfd67c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\0000397}}
.home .qualities {
  background-image: url("../img/background.jpg");
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\00003100}}
.home .qualities h3 {
  border-bottom: 4px #b5c534 solid;
  font-weight: 600;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\00003109}}
.about .white-bkg {
  border-bottom: 4px #006345 solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\00003114}}
.team {
  color: #006345;
  font-weight: 600;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\00003120}}
.card {
  color: #006345;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\00003123}}
.card h4 {
  border-bottom: 4px #b5c534 solid;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\00003131}}
.projects .white-bkg {
  border-bottom: 4px #006345 solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\00003136}}
.projects-gallery {
  background-image: url("../img/background.jpg");
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\00003140}}
.projects-gallery div div {
  max-width: 300px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\00003145}}
.projects-gallery img {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\00003152}}
.address img {
  width: 70%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\00003156}}
.address iframe {
  border: 4px #bfd67c solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\00003161}}
.contact-form {
  color: #bfd67c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\00003164}}
.contact-form input {
  border: 4px #bfd67c solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\00003168}}
.contact-form textarea {
  border: 4px #bfd67c solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\00003174}}
footer {
  background-color: #58585a;
  color: #bfd67c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\00003179}}
footer .social img {
  max-width: 45px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\00003184}}
footer p {
  font-size: .95rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/court\/Documents\/School\/UF\/Summer 2019\/MMC6278 - Advanced Web 2\/Section 1 - A Solid Front-End Foundation\/Project 1\/p1-austin-gunter-solari\/less\/main\.less}line{font-family:\00003188}}
footer .copyright {
  background-color: #000000;
  color: #ffffff;
  font-size: .75rem;
}
