@import "variables";
header {
  font-family: @mainFont;
  background-color: @black;
  height: 30px;
    h1 {
    font-size: 20px;
    color: white;
    text-align: right;
    padding-right: 2px;
  }
}

.jumbotron {
  background-image: image('img/subpage-heading.png');
  background-size:cover;
  font-family: @mainFont;
  font-weight:400;
  font-size: 32px;
  color: @green;
  span {
    color: @darkGreen;
  }
}

.logo img {
  width:100%;
  max-width: 300px;
}

.address {
  background-image: url(../img/background.jpg);
  width: 400px;
  margin:0 auto;
}

.contactform {
  margin-top;
  background-color:@darkGreen;
  color:@green;
}

footer {
  background-color: @gray;
  color: @lightGreen;
  h3{
    color:@green;
  }
}
.form-group input {
  border: 2px solid;
  border-color: @green;
  border-radius: 0;
}

.form-group textarea {
  border: 2px solid;
  border-color: @green;
  border-radius: 0;
}

.btn-primary {
  background-color: @lightGreen;
  color: @darkGreen;
}
